services:
  api:
    container_name: prueba-api
    build:
      context: . 
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      
      - ConnectionStrings__DefaultConnection=Server=db;Database=PruebaDB;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=True
      
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
      - Jwt__Key=${JWT_KEY}
      
      - BlobStorage__ConnectionString=${BLOB_CONNECTION_STRING}
      - BlobStorage__ContainerName=${BLOB_CONTAINER_NAME}
      - BlobStorage__BaseUrl=${BLOB_BASE_URL}
      - BlobStorage__RootFolder=${BLOB_ROOT_FOLDER}
      
    depends_on:
      - db
    networks:
      - prueba-net

  
  db:
    container_name: prueba-db
    image: "mcr.microsoft.com/mssql/server:latest"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${DB_PASSWORD} 
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql
    networks:
      - prueba-net


  frontend:
      container_name: prueba-frontend
      build:
       context: ./frontend
       dockerfile: Dockerfile
      ports:
        - "5173:5173"
      networks:
        - prueba-net
      depends_on:
        - api
      
volumes:
  mssql-data: 
    driver: local

networks:
  prueba-net: 
    driver: bridge